:root {
    --black: #0c0c0c;
    --grey: #a9a9a9;
    --white: #fbeee4 ;
    --red: #f44336;
    --green: #00d084;
    --pale-alarm:#ffdddd;

    --primary:#aa22cc;
    --primary-2:#dd66ff;
    --secondary:#11aa00;
    --secondary-pale:#14c700;
    --secondary-2:#33ee22 ;
    --tertiary  :	#ee9944; 
    --tertiary-2  :	#f7ba7e; 
}
