.sideBar{

    position: fixed;
    width: 30rem;
    height: 100%;
    top: 0;
    right: 0;
    /* width: 0rem; */
    background-color: white;
    overflow-y: scroll;
    transition: 5.5s;

}
.sideBar__heading{
    /* width: 100%; */
    height: 4rem;
    text-shadow: 2px 2px 5px grey;

    background-color: red;
}

.sideBar__button{
    /* width: 100%; */
    height: 1.2rem;

    background-color: green;
}

.playerTag__heading{

    height: 3rem;
    cursor: pointer;
    background-color: grey;
}
.playerTag__body{
    display: flex;
    flex-direction: row;
    height: 12rem;
    background-color: pink;
    transition: 0.2s;
}

.playerTag__body--active{
    
}


.playerTag__body--right{
    /* float: left; */
    width: 60%;
}

.playerTag__body--left{
    /* float: right; */
    width: 40%;
    background-color: aquamarine;

}

.playerTag__form{
    display: flex;
    flex-direction: column;
    padding: 0.2rem;
    position: relative; /*so buttons can be positioned absolutly */
}
.playerTag__formGroup{
    margin: 0.2rem;
    text-align: start;
    background-color: peru;
    display: flex; 
    flex-direction: row 

}

.playerTag__namelable{
    cursor: default;
    display: inline-block;
    width: 6rem;
    background-color: lavender;
    align-self: flex-end;

    border-bottom: var(--black);
    border-style: inset;
    
}
.playerTag__nameinput{
    width: 10rem;
    height: 2rem;
    box-sizing: border-box;
    padding-left: 0.3rem;
    background-color: var(--white);
    color: var(--black);
    border-style: inset;

    display: inline-block;
    border-width: 0.2rem;
    border-color:vlack;
}
.warn{
    border-color: var(--red);
    border-style: outset;
    background-color: var(--pale-alarm);
}

/* .playerTag__colourinput{
    box-sizing: border-box;
    width : 2rem;
    height: 2rem;
    cursor: pointer;
    display: inline-block;

    background-color: aqua;
    border-style: inset;
    border-width: 0.2rem;
    border-color: (red, rgb(195, 195, 195));

} */

/* .playerTag__colourPicker{
   display: ;
} */

.playerTag__buttons{
    margin: 0.2rem;
    padding-left: 6rem;
    background-color: plum;
    position: absolute;
    top: 9rem;

}

.playerTag__button--save{
    /* align-self: flex-end; */
    height: 1.5rem;
    width: 6rem;
    font-size: inherit;
}
.playerTag__button--delete{
    /* align-self: flex-end; */
    height: 1.5rem;
    width: 4rem;
    font-size: inherit;
}