.sideBar{

    position: fixed;
    width: 30rem;
    height: 100%;
    top: 0;
    right: 0;

    background-color: white;
    overflow: auto;
    /* transition: 0.5s; */

}
.sideBar__heading{
    /* width: 100%; */
    height: 4rem;

    background-color: red;
}

.sideBar__button{
    /* width: 100%; */
    height: 1.2rem;

    background-color: green;
}

.playerTag__heading{

    height: 3rem;
    background-color: grey;
}
.playerTag__body{
    display: flex;
    flex-direction: row;
    height: 12rem;
    background-color: pink;
}


.playerTag__body--right{
    /* float: left; */
    width: 60%;
}

.playerTag__body--left{
    /* float: right; */
    width: 40%;
    background-color: aquamarine;

}

.playerTag__form{
    display: flex;
    flex-direction: column;
    padding: 0.2rem;
}
.playerTag__formGroup{
    margin: 0.2rem;
}

.playerTag__lable{
    cursor: default;
    display: inline-block;
    min-width: 3.5rem;
}
.playerTag__nameinput{
    width: 10rem;
    height: 2rem;
    box-sizing: border-box;
    padding-left: 0.3rem;
    background-color: var(--white);
    color: var(--black);
    border-style: inset;

    display: inline-block;
    border-width: 1px;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(195, 195, 195));
}

.playerTag__colourinput{
    box-sizing: border-box;
    width : 2rem;
    height: 2rem;
    cursor: "pointer";
    display: inline-block;

    background-color: aqua;
    border-style: inset;
    border-width: 0.2rem;
    border-color: (red, rgb(195, 195, 195));

}

/* .playerTag__colourPicker{
   display: ;
} */

.playerTag__buttons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height : 6rem;

}

.playerTag__button{
    align-self: flex-end;
    height: 1.5rem;
    width: 33.333%;
    font-size: inherit;
}